In [ ]:
== is

In [ ]:
logical,identity,memebrship,comarison

In [ ]:
l1 = [10,20,30]
l2 = [10,20,30]

id()
type()

In [ ]:
num1 = 255
num2 = 255

In [ ]:
for 
while

In [ ]:
for [userdefined variable] in [iterable datatypes]:
    statements

In [ ]:
list 
dict 
set 
tuple 
str

In [3]:
l = [10,20,30,40,50]
sum = 0
for value in l:
    sum = sum + value
print(sum)

150

In [ ]:
sum = 0  value 10 
sum = 0 + 10 = 10 
value = 20  => 10 + 20 => sum = 30
value = 30   30 + 30 => 60

In [ ]:
range(10) 0 1 2 ... 9
range(10,50) 10 11 12 13 .... 49 
range(10,50,5) 10 15 20 25 ... 45

In [5]:
sum = 0
for value in range(1,21):
    print(value)
    sum = sum + value
print(sum)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
210

In [13]:
num = 25
sum = 0
for value in range(1,num):
    if num % value == 0:
        sum = sum + value

if sum == num:
    print("Perfect num")
else:
    print("Not a perfect num")

Not a perfect num

In [17]:
l = [1,100,25,45,65,85,95,200]
max = 0
for value in l:
    if value > max:
        max = value
print(max)

200

In [16]:
max 0 value 1 value > max max =1
max 1 value 100 value > max max  = 100 
max 100 value 25 value > max
max = 100 value 200 value > max = 200

SyntaxError: invalid syntax (<ipython-input-16-ffdc643e0686>, line 1)

In [ ]:
max 
sec max 

value > max 
    max = value 
    sec_max = max 
value < max value > sec_max 
    sec_max = value 
value < sec max

In [19]:
l = [1,100,25,45,65,85,95,200]
max = 0
sec_max = 0

for value in l:
    if value > max:
        sec_max = max
        max = value          
    elif value > sec_max:
        sec_max = value
        
print(max,sec_max)

200 100

In [32]:
l = [10,20,30,40,50,60,70,80]
key = 50
for index,value in enumerate(l):
    if value == key:
        print("Element present",index)
        break 
else:
    print("Element not found")

Element present 4

In [31]:
l = [10,20,30,40,50,60]
for index,value in enumerate(l):
    print(index,value)

0 10
1 20
2 30
3 40
4 50
5 60

In [34]:
s = "Python sample string"
for value in s:
    print(value)

P
y
t
h
o
n

s
a
m
p
l
e

s
t
r
i
n
g

In [41]:
d = {"name":"ABC","email":"abc@gmail.com","contact":9123456789}

for key in d:
    print(key)

name
email
contact

In [40]:
for value in '100':
    print(type(value))

<class 'str'>
<class 'str'>
<class 'str'>

In [42]:
for value1 in range(1,5):
    for value2 in range(100,105):
        print(value1,value2)

1 100
1 101
1 102
1 103
1 104
2 100
2 101
2 102
2 103
2 104
3 100
3 101
3 102
3 103
3 104
4 100
4 101
4 102
4 103
4 104

In [ ]:
1 100 
1 101
1 102

In [ ]:
     1       2    3    4   5 

1    1       2     3    4    5
2    2       4
3    3       6
4    4       8
5    5
6    6
    7
    8
    9
10    10

In [48]:
print(10,20,end=" ",sep = ",")
print("Hi",end = " ")
print("Hello")

10,20 Hi Hello

In [53]:
for val1 in range(1,11):
    print("\n")
    for val2 in range(1,6):
        print(val1 * val2,end= "\t")

1	2	3	4	5

2	4	6	8	10

3	6	9	12	15

4	8	12	16	20

5	10	15	20	25

6	12	18	24	30

7	14	21	28	35

8	16	24	32	40

9	18	27	36	45

10	20	30	40	50

In [ ]:
for syntax :
    for user in iter:
        statements
        
range()
    range(45) 0 1 .... 44
    range(10,45) 10 11 12 ... 44
    range(10,45,2) 10 12 14 ...... 44
break 
continue 
enumerate 
    index,value
optional else

In [ ]:
intialization
while [condition]:
    statements
    increment

In [55]:
sum = 0
count = 1 
while count <= 20 :
    sum = sum + count 
#     count+=1 
print(sum)

210

In [60]:
l = [80,70,60,50,40,30,20,10]
count = 0
while(count <= len(l)):
    for index in range(len(l)-1):
        if l[index] > l[index + 1]:
            l[index],l[index +1 ] = l[index +1],l[index] 
    count+=1 
print(l)

[10, 20, 30, 40, 50, 60, 70, 80]

In [ ]:
range(7) 0 ... 6
index 0 l[0] = 80 > 70 
70 80 60 50 40 30 20 10 
index =1  80 > 60 
    70 60 80 50 40 30 20 10 
index = 2 

70 60 50 40 30 20 10 80

In [61]:
l = [10,20,30,40,50]
print(l[0])

10